body{
    background-color: rgba(22, 120, 206, 0.801);
    margin: 30px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.cabeçalho{
    background-color: rgb(138, 188, 211);
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;

}

.cabeçalho-imagem{
    width: 15%;
    margin: 10px 5px;
}

.cabeçalho-lista-item{
    display: flex;
    margin: 10px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}